html{
    background-image: linear-gradient(to top right, #E3C0D3, #f1a009);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    background-color: #3bc5b3;
    grid-area: myArea;
    margin: 12px 12px 12px 12px;
    font-size: 30px;
    padding: 5% 0 5% 10px;
    border-radius: 5px;
}
.calculator{
    height: 60vh;
    width: 40vh;
    padding: 14px;
    background-color: rgba(27, 64, 78, 0.8);
    box-shadow: 6px 12px 50px 1px black; 
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'myArea myArea myArea myArea';
    border-radius: 16px;
}
button{
    background-color: #576066;
    border: none;
    border-radius: 20px;
    font-size: 30px;
}
button:active{
    background-color: orangered;
}