body{
    background-color:aquamarine;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: limegreen;
    display: grid;
    justify-content: center;
    align-items: center;
}
.login-container{
    height: 30vh;
    width: 50vw;
    background: red;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
.image-container{
    margin: 2vw;
    height: 50%;
}
.login, .password, .button{
    text-align: center;
}
#username, #password{
    background-color: cadetblue;
    border: none;
    width: 60%;
    height: 70%;
}